/* You can add global styles to this file, and also import other style files */
:root{
    --primary: hsl(0, 0%, 100%,0.10) ;
    --secondary: hsl(210, 29%, 24%,0.65);
}

body{
    background-image: 
    url('src/assets/bg.jpg');
}

h3{
    font-family: 'Fira Sans', sans-serif;
}

h1{
    font-family: 'Fira Sans', sans-serif;
}h2{
    font-family: 'Fira Sans', sans-serif;
}h4{
    font-family: 'Fira Sans', sans-serif;
}